<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /multisito/

    # Se l'URL è esattamente vuoto, internamente riscrivi a public/
    RewriteRule ^$ public/ [L]

    # Se l'URL non inizia con "public/", riscrivi internamente aggiungendo public/
    RewriteRule ^(?!public/)(.*)$ public/$1 [L]
</IfModule>
