<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /multisito/public/

    # Se il file o la cartella richiesta non esiste, reindirizza tutte le richieste a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
